<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <!-- Bootstrap -->
    <!-- link rel="stylesheet" type="text/css" href="static/style/normalize.css" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/normalize.css') }}">
    <!-- link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <!--script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script -->

    <![endif]-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- link rel="stylesheet" type="text/css" href="static/style/style.css" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>{% if title %} {{ title }} {% endif %} - Who Hot</title>
    {% endblock %}


<style>

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

</style>

</head>
    <body>


        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Who's Hot?</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>

                        <li><a href="/om-projektet">Om Projektet</a></li>
                        <li><p>{{ url_for('static', filename='style/style.css') }}</p></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container theme-showcase" role="main">
                <div class="jumbotron">
                    <h1>Hotte Navne lige nu</h1>
                    <p>longer text</p>
                </div>



                {% if overviewTitle %}
                    <div class="page-header">
                        <h2>{{ overviewTitle|safe}}</h2>

                    </div>
                {% else %}
                    <div class="page-header">
                        <h2>Overview</h2>
                    </div>
                {% endif %}
            {% if userTip %}<p class="userTip"> {{ userTip|safe }} </p>{% endif %}


                {% block content %}{% endblock %}


        </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>



    </body>


</html>
